.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.header {
  text-align: center;
  margin-bottom: 1rem;
}
.header__title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
.header__subtitle {
  font-size: 1.2rem;
  color: #666;
}

.slider {
  position: relative;
  margin: auto;
}

.swiper-container {
  width: 80%;
  margin: auto;
  overflow: hidden;
  padding: 20px 1.5rem;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s;
  cursor: pointer;
}
.swiper-slide:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .swiper-container {
    padding: 15px;
  }
  .swiper-slide {
    width: 230px !important;
  }
}
@media (max-width: 480px) {
  .swiper-container {
    padding: 15px;
  }
  .swiper-slide {
    width: 230px !important;
  }
}
.slider__card-img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.slider__card-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 5px 0px;
}

.slider__card-role {
  font-size: 1rem;
  margin-top: 5px;
  margin-bottom: 0px;
  font-weight: 500;
}

.slider__card-organization {
  font-size: 0.9rem;
  color: #6b6b6b;
  margin: 0px;
}

.swiper-button-next, .swiper-button-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: 10;
  border: 1px solid #cdcdcd;
  color: #666;
}

.swiper-button-next::after, .swiper-button-prev::after {
  font-size: 20px;
}

.swiper-button-next {
  right: 5%;
}

.swiper-button-prev {
  left: 5%;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 1.5rem 0rem;
  position: relative;
}

.primary-button {
  background-color: #003FB4;
  color: white;
  padding: 0.75rem 5rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 2rem;
}
.primary-button:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.button-side-text {
  width: 140px;
  top: 3rem;
  margin-right: 35rem;
  position: absolute;
}

.button-arrow-icon {
  position: absolute;
  top: 6rem;
  margin-right: 23rem;
}

@media (max-width: 480px) {
  .button-arrow-icon {
    display: none;
  }
  .button-side-text {
    display: none;
  }
}
.popup {
  position: relative;
  margin-bottom: 1rem;
  padding: 1.5rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: none;
}
.popup__content {
  display: flex;
}
.popup__close {
  position: absolute;
  top: 0.2rem;
  right: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}
.popup__details {
  width: 100%;
  align-content: center;
}
.popup__left {
  flex: 0 0 35%;
  gap: 1rem;
  display: flex;
  padding-right: 1rem;
}
.popup__right {
  flex: 0 0 65%;
  padding-left: 1rem;
  border-left: 1px solid #ddd;
  align-content: center;
}
.popup__image {
  width: 140px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 1rem;
}
.popup__title {
  font-size: 1.2rem;
  font-weight: bold;
}
.popup__role {
  font-size: 0.9rem;
  color: #000;
  font-weight: 500;
  margin-top: 0.5rem;
}
.popup__organization {
  font-size: 0.9rem;
  color: gray;
}
.popup__social {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  color: #000;
}
.popup__description {
  font-size: 1rem;
  color: #222;
  line-height: 1.5;
}
@media (max-width: 768px) {
  .popup__content {
    flex-direction: column;
  }
  .popup__left, .popup__right {
    flex: 1 1 100%;
    padding: 0;
    border-left: none;
  }
  .popup__image {
    width: 100px;
  }
  .popup__title {
    font-size: 1.1rem;
  }
  .popup__role, .popup__organization {
    font-size: 0.85rem;
  }
  .popup__description {
    font-size: 0.9rem;
  }
}
@media (max-width: 480px) {
  .popup {
    padding: 1rem;
  }
  .popup__close {
    font-size: 1.2rem;
  }
  .popup__image {
    width: 80px;
  }
  .popup__title {
    font-size: 1rem;
  }
  .popup__role, .popup__organization {
    font-size: 0.8rem;
  }
  .popup__description {
    font-size: 0.85rem;
  }
}

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.header {
  text-align: center;
  padding: 2rem 1rem;
}
.header__title {
  font-size: 2rem;
  font-weight: 600;
  color: #333;
  margin: 0;
}
.header__subtitle {
  font-size: 1.2rem;
  color: #333;
  margin: 0.5rem 0;
  font-weight: 400;
}
.header .header__subtitle .highlight {
  color: #003FB4;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*# sourceMappingURL=styles.css.map */
